# EditorConfig helps maintain consistent coding styles
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
# En Markdown, los dos espacios al final pueden significar salto de línea
trim_trailing_whitespace = false
